/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $borrad;
  }
  .default {
    $color: $color-accent;
    background-color: $color-accent;
    &:hover {
      background-color: lighten($color, 15%);
      @include btn-hover;
    }
  }
  .error {
    $color: $error;
    background-color: $error;
    &:hover {
      background-color: lighten($color, 15%);
      @include btn-hover;
    }
  }
  .info {
    $color: #927bc1;
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
      @include btn-hover;
    }
  }
  .success {
    $color: #63cc82;
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
      @include btn-hover;
    }
  }
  .warning {
    $color: #fd7856;
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
      @include btn-hover;
    }
  }

  




